<div>
    <h1>Upcoming Angular events</h1>
    <hr/>
    <!-- <event-thumbnail (eventClick)="handleEventCliked($event)"
    [event]="event1"></event-thumbnail> -->
    <div class="row">
        <div class="col-md-5" *ngFor="let event of events">
            <event-thumbnail [event]="event"></event-thumbnail>
        </div>
    </div>
</div>